.main-intro{
    display: flex;
    .articles-intro {
        margin-right: 20px;
        .artticle-container {
            display: flex;
            margin-bottom: 20px;
            border-radius: 10px;
            backdrop-filter: blur(3px);
            background:rgba(10, 10, 10, 0.65);
            border: 2px solid rgba(255, 255, 255, 0.09);;
            box-shadow: 0 8px 32px rgb(2 4 24);
            padding: 8px;
            color: azure;
            height: auto;
            img {
                width: 300px;
                border-radius: 10px;
                margin-right: 10px;
            }
            .artticle-content {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .artticle-info {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
            }
        }
    }
    .authors-intro {
        .card-author {
            width: 320px;
            display: flex;
            flex-direction: column;
            border-radius: 10px;
            backdrop-filter: blur(3px);
            background:rgba(10, 10, 10, 0.65);
            border: 2px solid rgba(255, 255, 255, 0.09);;
            box-shadow: 0 8px 32px rgb(2 4 24);
            color: azure;
            height: auto;
            padding: 8px 8px 0 8px;
            margin-bottom: 15px;
            img {
                width: 300px;
                border-radius: 10px;
            }
            .author-name {
                text-align: start;
                margin: 15px 0;
            }
            .author-contact {
                width: 100%;
                display: flex;
                margin-top: 20px;
                border-top: 2px solid  rgba(255,255,255, .1);
                button{
                    background: none;
                    color: white;
                    margin-right: 10px;
                    cursor: pointer;
                }
            }
        }
    }
}