*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
}
body {
    background-image: url(../../assets/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 120px;
    height: 100%;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(6px);
    background: rgba( 10, 10, 10, .65);
    box-shadow: 0 8px 32px rgb(2,4,24);
    border-right: 2px solid rgba(255,255,255, .09);
    transition: .4s ease-in-out;
    .logo {
        width: 100%;
        height: 240px;
        display: grid;
        align-items: center;
        justify-items: center;
        img {
            width: 56px;
        }
        h3 {
            color: white;
            font-size: 36px;
            margin-top: 12px;
            font-variant: small-caps;
            pointer-events: none;
            scale: 0;
            opacity: 0;
        }
    }
    .nav-title {
        color: #dadada;
        margin: 10px 0 12px;
        pointer-events: none;
        opacity: 0;
    }
    nav {
        padding: 0 30px;
        button {
           padding: 0;
           margin: 4px 0;
           width: 100%;
        }
    }
    hr {
        width: 100%;
        height: 2px;
        border-radius: 3px;
        margin: 20px 0 20px;
        // opacity: 0;
        background: rgba(255,255,255, .1);
    }
    .toggle {
        cursor: pointer;
        position: absolute;
        width: 40px;
        height: 40px;
        color: #fff;
        top: 180px;
        right: -20px;
        border-radius: 50%;
        padding: 2px;
        background: rgba(255,255,255, .09)
    }
    .toggle{
        transition: .4s linear;
    }
}
.open {
    width: 360px;
    .logo {
        h3 {
            opacity: 1;
            scale: 1;
            transition: .4s;
            transition-delay: .2s;
        }
        img {
            width: 144px;
            transition: .4s;
            transition-delay: .2s;
        }
    }
    .nav-title {
        opacity: 1;
        transition: .4s;
        transition-delay: .2s;
    }
    nav {
        button{
            a{
                span {
                    opacity: 1;
                    pointer-events: visible;
                    transition: .4s;
                    transition-delay: .2s;
                }
            }
        }
    }
    hr {
        opacity: 1;
        transition: .4s;
    }
    .toggle {
        transform: translateY(45px);
        .vector{
            transform: rotateY(180deg);
        }
    }
}

